.link {
	color: var(--anchor);
	text-decoration: underline color-mix(in srgb, currentColor 50%, transparent);

	&:hover {
		text-decoration-color: currentColor;
	}

	&.textColor {
		color: var(--text-color);
	}

	&.inheritColor {
		color: inherit;
	}
}

.clickLink {
	cursor: pointer;
}
