.text {
	color: var(--text-color);

	&.gray {
		color: var(--gray-text-color);
	}

	&.superGray {
		color: var(--super-gray-text-color);
	}

	&.error {
		color: var(--error);
	}

	&.center {
		text-align: center;
	}

	&.small {
		font-size: 0.875rem;
	}

	&.large {
		font-size: 1.125rem;
	}

	&.noWrap {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}
