.formControl {
	display: flex;
	background: var(--input-background);
	border: var(--border);
	border-radius: 6px;
	padding-inline: 6px;

	&:focus-within {
		outline: 2px solid var(--anchor);
	}

	align-self: center;
}

.input {
	padding: 0;
	min-width: 300px;
	background: none;
	color: var(--text-color);
	border: none;
	height: 32px;
	outline: none;
	font-size: 1rem;
}

.decorator {
	display: flex;
	align-items: center;

	&:first-child {
		margin-right: 4px;
	}

	&:last-child {
		margin-left: 4px;
	}
}
