.formControl {
	display: flex;
	background: var(--input-background);
	border: var(--border);

	position: relative;

	--gutter: 0.375rem;
	--decorator-size: 2rem;
	border-radius: 6px;

	&:focus-within {
		outline: 2px solid var(--anchor);
	}

	align-self: center;

	&.invalid {
		outline: 2px solid var(--error);
	}

	.input {
		padding: 0;
		min-width: 300px;
		background: none;
		color: var(--text-color);
		border: none;
		height: 32px;
		outline: none;
		font-size: 1rem;
		flex-grow: 1;
		padding-inline: var(--gutter);

		&.hasStartDecorator {
			padding-left: var(--decorator-size);
		}
		&.hasStartDecorator {
			padding-right: var(--decorator-size);
		}
	}

	.decorator {
		display: flex;
		align-items: center;
		justify-content: center;
		top: 0;
		bottom: 0;
		position: absolute;
		pointer-events: none;

		&:first-child {
			width: var(--decorator-size);
			left: 0;
		}

		&:last-child {
			width: var(--decorator-size);
			right: 0;
		}
	}
}
