.formControl {
	display: flex;
	background: var(--input-background);
	border: var(--border);
	border-radius: 6px;
	padding-inline: 6px;

	&:focus-within {
		outline: 2px solid var(--anchor);
	}
}

.input {
	padding: 0;
	min-width: 300px;
	background: none;
	color: var(--text-color);
	border: none;
	height: 30px;
	font-size: 1rem;
	outline: none;
}

.decorator {
	display: flex;
	align-items: center;
}
