.drawer {
	--size: 256px;

	position: fixed;
	z-index: 1;
	top: 0;
	right: calc(-1 * var(--size));
	transform: translateX(0);
	height: 100%;
	width: min(100vw, var(--size));
	transition: transform 200ms ease;

	border-radius: 0;

	&.open {
		transform: translateX(calc(-1 * var(--size)));
	}
}
