:root {
	--background: #060606;
	--foreground: #fff;
	--anchor: #4393e4;
	--borderColor: color-mix(in srgb, var(--foreground) 20%, var(--background));
	--border: 1px solid var(--borderColor);
	--elevation-1: color-mix(in srgb, var(--foreground) 5%, var(--background));
	--spacing: 16px;
	--input-background: var(--elevation-1);
	--error: #b8403c;
	--text-color: var(--foreground);
	--gray-text-color: #eee;
	--disabled: rgba(233, 233, 237, 0.5);
}

body {
	font-family: system-ui;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	background-color: var(--background);
	color: var(--text-color);
}

h1 {
	font-size: 2.25rem;
}
h2 {
	font-size: 1.875rem;
}
h3 {
	font-size: 1.5rem;
}
h4 {
	font-size: 1.25rem;
}

@media (width < 1200px) and (orientation: portrait) {
	.mobile-column {
		flex-direction: column;
	}
}

@media (width >= 1200px) and (orientation: landscape) {
	.desktop-row {
		&& {
			flex-direction: row;
		}
	}
}
