*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	line-height: 1.5;
	text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.25;
}

body {
	margin: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd,
ul,
ol,
pre {
	margin-block: 0;
}

dialog {
	color: inherit;
	padding: 0;
	background: transparent;
	border: none;
}
