.button {
	--horiz-padding: 0.5rem;
	--background: transparent;

	padding: var(--horiz-padding) calc(2 * var(--horiz-padding));
	border: var(--border);
	border-radius: var(--horiz-padding);
	font-size: 1rem;
	font-weight: 500;
	user-select: none;
	color: var(--text-color);
	position: relative;

	display: flex;
	align-items: center;

	& > span {
		flex-grow: 1;
		display: inline-flex;
	}

	background-color: var(--background);

	&:not(.enabled) {
		opacity: 0.5;
	}

	&.enabled {
		cursor: pointer;
		&:hover {
			background-color: color-mix(in srgb, var(--foreground) 8%, var(--background));
		}
		&:active {
			background-color: color-mix(in srgb, var(--foreground) 16%, var(--background));
		}
	}

	& > progress {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		width: 32px;
	}

	&:not(.loading) {
		& > progress {
			display: none;
		}
	}

	&.loading {
		& > span {
			visibility: hidden;
		}
	}

	&:focus-visible {
		outline: 2px solid var(--anchor);
		outline-offset: 2px;
	}

	&.small {
		--horiz-padding: 0.25rem;
		font-size: 0.875rem;
		& > span {
			margin-bottom: 1px;
		}
	}

	&.large {
		--horiz-padding: 1rem;
		font-size: 1.125rem;
	}

	&.success {
		--background: forestgreen;
	}

	&.error {
		--background: var(--error);
	}

	&.hasStartDecorator {
		padding-left: var(--horiz-padding);
	}
	&.hasEndDecorator {
		padding-right: var(--horiz-padding);
	}

	&.square {
		padding: var(--horiz-padding);
	}
}

.decorator {
	display: flex;
	align-items: center;
}

.startDecorator {
	padding-right: var(--horiz-padding);
}
.endDecorator {
	padding-left: var(--horiz-padding);
}
