.button {
	--horiz-padding: 0.5rem;
	--background: transparent;

	padding: var(--horiz-padding) calc(2 * var(--horiz-padding));
	border: var(--border);
	border-radius: var(--horiz-padding);
	font-size: 1rem;
	font-weight: 500;
	user-select: none;
	color: var(--text-color);
	position: relative;
	display: flex;
	align-items: center;
	background-color: var(--background);

	& .content {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-grow: 1;
		& > span {
			display: flex;
		}

		&.alignmentStart {
			justify-content: start;
		}
	}

	&:not(.enabled) {
		opacity: 0.5;
	}

	&.enabled {
		cursor: pointer;
		&:hover {
			background-color: color-mix(
				in srgb,
				var(--foreground) 15%,
				var(--background)
			);
		}
		&:active {
			background-color: color-mix(
				in srgb,
				var(--foreground) 25%,
				var(--background)
			);
		}
	}

	& > .spinner {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}

	&:not(.loading) {
		& > .spinner {
			display: none;
		}
	}

	&.loading {
		& > .content {
			visibility: hidden;
		}
	}

	&:focus-visible {
		outline: 2px solid var(--anchor);
		outline-offset: 2px;
	}

	&.small {
		--horiz-padding: 0.25rem;
		font-size: 0.875rem;
		& > .content {
			margin-bottom: 1px;
		}
	}

	&.large {
		--horiz-padding: 1rem;
		font-size: 1.125rem;
	}

	&.success {
		--background: forestgreen;
	}

	&.error {
		--background: var(--error);
	}

	&.hasStartDecorator {
		padding-left: var(--horiz-padding);
	}
	&.hasEndDecorator {
		padding-right: var(--horiz-padding);
	}

	&.square {
		padding: var(--horiz-padding);
	}

	&.plain {
		border: none;
		border-radius: 0;
	}

	&.active {
		background: color-mix(
			in srgb,
			var(--text-color) 20%,
			var(--background)
		);
	}
}

.decorator {
	display: flex;
	align-items: center;
}

.startDecorator {
	padding-right: var(--horiz-padding);
}
.endDecorator {
	padding-left: var(--horiz-padding);
}
