.link {
	display: block;
	text-decoration: none;
	color: var(--text-color);

	.header {
		text-decoration: underline;
		text-decoration-color: color-mix(
			in srgb,
			currentColor 50%,
			transparent
		);
	}

	&:hover {
		.header {
			text-decoration-color: currentColor;
		}
	}
}

.cardSheet {
	height: 100%;
}

.disabled {
	color: var(--disabled);
}
