.blogBody {
	& pre {
		background: rgba(255, 255, 255, 0.05);
		padding: 1rem;
	}
	& p {
		margin-block: 1rem;
	}
	& a {
		color: var(--anchor);
		text-decoration-color: color-mix(
			in srgb,
			currentColor 50%,
			transparent
		);

		&:hover {
			text-decoration-color: currentColor;
		}
	}
	& :not(pre) > code {
		background: rgba(255, 255, 255, 0.1);
		margin-inline: 0.25rem;
		padding-inline: 0.25rem;
	}
}
