.blogBody {
	& pre {
		padding: 1rem;
		margin: 0.5rem;
		background-color: #0d1117;
		color: #e6edf3;
		overflow-x: auto;
		tab-size: 4;
	}
	& p {
		margin-block: 1rem;
	}
	& a {
		color: var(--anchor);
		text-decoration-color: color-mix(in srgb, currentColor 50%, transparent);

		&:hover {
			text-decoration-color: currentColor;
		}
	}
	& :not(pre) > code {
		background: rgba(255, 255, 255, 0.1);
		margin-inline: 0.25rem;
		padding-inline: 0.25rem;

		&:first-child {
			margin-left: 0;
		}
	}

	& blockquote {
		background: var(--elevation-1);
		margin: 0;
		padding: 1rem 1.5rem;
		border-left: 8px solid var(--elevation-2);

		> p:first-of-type {
			margin-top: 0;
		}
		> p:last-of-type {
			margin-bottom: 0;
		}

		> pre {
			background: #ffffff0d;
		}
	}

	& input[type="checkbox"] {
		width: 18px;
		height: 18px;
	}

	& h2 {
		margin-block: 1rem;
	}

	& li {
		margin-bottom: 0.25rem;
	}
}
