.d2 {
	fill: #d7608a;
}

.d4 {
	fill: #c0df33;
}

.d6 {
	fill: #af61d8;
}

.d8 {
	fill: #71c957;
}

.d10 {
	fill: #8a8ed1;
}

.d12 {
	fill: #d7aa33;
}

.d20 {
	fill: #5ac7a6;
}

.dice {
	color: #fff;
	stroke: currentColor;
	stroke-width: 1.5px;
	line-height: 1;
	text {
		fill: currentColor;
	}

	@media (prefers-color-scheme: dark) {
		color: #333;
	}
}
