.row {
	display: flex;
	flex-direction: row;
	height: 200px;
	margin-top: 16px;
}

.columnHost {
	padding: 0 4px;
}

.columnOutline {
	display: flex;
	align-items: end;
	border: 1px solid rgba(0, 0, 0, 0.12);
	height: 100%;
}

.column {
	background: #c06868;
	width: 24px;
	border-radius: 2px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
