.stack {
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.rollButton {
	width: 80px;
	height: 80px;
	font-size: 1.25rem;
}

.rollResult {
	font-size: 2rem;
}
