.textarea {
	width: 100%;
	margin: 20vh 0;
	min-height: 300px;
	font: inherit;
	resize: none;

	max-width: 1200px;

	background: transparent;
	outline: none;
	border: none;

	font-size: 20px;
}

.layout {
	display: grid;
	grid-template-columns: 300px 1fr 300px;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.aside {
	padding: 24px;
}

.message {
	text-align: right;
	margin: 0;
}
