.container {
	position: relative;
}

.circle {
	border-radius: 999px;
	position: absolute;
	right: -300px;
	filter: blur(85px);
	mix-blend-mode: multiply;
}

.red {
	width: 486px;
	height: 486px;
	background-color: #ffcdfa;
	top: -340px;
}

.yellow {
	width: 430px;
	height: 330px;
	top: -200px;
	background-color: #ffe9be;
}
