.year {
	display: inline-flex;
	flex-direction: row;
	gap: 4px;
	padding: 4px;
	background: #eee;
	border-radius: 4px;
}

.column {
	display: flex;
	flex-direction: column;
	gap: 4px;

	&:first-of-type {
		/* first partial week will have days aligned properly */
		justify-content: flex-end;
	}
}

.day,
.weekdayName {
	height: 12px;
	width: 12px;
}

.weekdayName {
	font-size: 11px;
	line-height: 1;
	display: flex;
	justify-content: center;
}

.day {
	border-radius: 3px;
	border: 1px solid #aaa;
}
