.year {
	display: inline-flex;
	flex-direction: row;
	gap: 4px;
	padding: 4px;
	background: #eee;
	border-radius: 4px;
}

.column {
	display: flex;
	flex-direction: column;
	gap: 4px;

	&:first-of-type {
		/* first partial week will have days aligned properly */
		justify-content: flex-end;
	}
}

.day {
	height: 10px;
	width: 10px;
	border-radius: 3px;
	border: 1px solid #aaa;
}
