.paper {
	width: 1000px;
	max-height: calc(297 * 1000px / 210);
	margin: 0 auto;
	background-color: #fff;
	padding: 1.9cm 1.32cm 3.67cm;
}

.header {
	margin-bottom: 40px;
}

.contactWrapper {
	margin: 0 0 16px;
	display: flex;
	flex-wrap: wrap;
}

.avatar {
	border-radius: 50%;
	object-fit: cover;
}

.contactDetails {
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: max-content;
	grid-template-rows: 1fr 1fr;
	column-gap: 48px;
	flex-grow: 1;
	justify-content: flex-end;
	padding-right: 48px;
	font-size: 1.125em;
	height: 56px;
	align-self: center;
}

.contactDetails,
.subtitle,
.occupationDescription,
.miscSectionColumnText {
	color: #434343;
}

.proficiencyStars {
	display: flex;
	gap: 8px;
	padding-top: 8px;
}

.proficiencyStar,
.proficiencyStarEmpty {
	width: 10px;
	height: 10px;
	border-radius: 10px;
}

.proficiencyStar {
	background: #222;
}

.proficiencyStarEmpty {
	background: #aaa;
}

.subtleLink {
	color: inherit;
	font-size: inherit;
	font-weight: inherit;
	overflow-wrap: break-word;

	text-decoration-color: rgba(0, 0, 0, 0.4);
	text-decoration-thickness: 1px;

	&:hover {
		text-decoration-color: inherit;
	}
}

.name {
	font-size: 1.75em;
	letter-spacing: 0.01em;
	margin: 0 0 8px;
}

.subtitle {
	margin: 0;
}

.name,
.subtitle {
	line-height: 1.4;
}

.name,
.columnTitle {
	color: #2a3235;
}

.occupationSection,
.miscSection {
	margin: 0 0 30px;
}

.sectionTitle,
.dateSpan {
	/* same width for left column */
	width: 220px;
	flex-shrink: 0;
	flex-grow: 0;

	color: #666;
	padding-right: 16px;
}

.sectionTitle {
	margin: 0 0 20px;
	font-size: 16px;
}

.sectionGrid {
	margin: 0 0 24px;
	display: flex;
	page-break-inside: avoid;
}

.dateSpan {
	font-size: 18px;
	padding-right: 16px;
	display: block;
}

.columnTitle {
	font-size: 18px;
	margin: 0 0 10px;
}

.occupationDescription {
	margin: 0 0 8px;

	&:not(:first-of-type) {
		margin-bottom: 0;
	}
}

.miscSection {
	display: flex;
	page-break-inside: avoid;
	flex-wrap: nowrap;

	&:last-of-type {
		margin-bottom: 0 !important;
	}
}

.miscSectionGrid {
	margin: 0 0 20px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	flex-grow: 1;
	column-gap: 16px;
}

ul.colorBoxList {
	margin: 0;
	list-style: none;
	padding: 0;
}

.colorBoxList li {
	display: inline-block;
	background-color: rgb(119, 0, 198);
	color: #fff;
	padding: 6px 18px;
	margin-right: 3px;
	margin-bottom: 12px;
}

.section:last-of-type > * {
	margin-bottom: 0;
}
