.year {
	display: inline-flex;
	flex-direction: row;
	gap: 4px;
	padding: 16px;
	border: 1px solid black;
	border-radius: 8px;
}

.column {
	display: flex;
	flex-direction: column;
	gap: 4px;
	justify-content: flex-end;

	&:last-of-type {
		justify-content: flex-start;
	}
}

.day,
.weekdayName,
.monthName {
	height: 12px;
	width: 12px;
}

.monthName,
.weekdayName {
	font-size: 11px;
	line-height: 1;
	display: flex;
}

.weekdayName {
	justify-content: center;
}

.day {
	border-radius: 3px;
	border: 1px solid #aaa;
}
