.distributionHost {
	display: flex;
	justify-content: center;
	width: 100%;
}

.distributionContainer {
	height: calc(200px + 3 * var(--spacing));

	display: flex;
	flex-direction: row;
	overflow-x: auto;
	overflow-y: visible;

	/* padding bottom to have space for scrollbar and tooltip */
	padding-bottom: calc(3 * var(--spacing));

	/* padding inline to give enough space for tooltips horizontally */
	padding-inline: var(--spacing);
}

.column {
	display: flex;
	align-items: flex-end;
	height: 100%;

	border: var(--border);
}

.columnFilling {
	background: #c06868;
	width: 24px;
	border-radius: 2px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
