.controls {
	margin-bottom: var(--spacing);

	@media (width < 1024px) {
		flex-direction: column;
	}
}

.rollsList {
	list-style: none;
	padding: 0;
	margin: 0;
	mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
	overflow: hidden;
}
