.host {
	position: relative;
	bottom: var(--spacing);
	right: var(--spacing);
	z-index: 10;
	width: 350px;

	transition: transform 0.2s ease-in;

	&:not(.open) {
		transform: translateX(calc(100% + var(--spacing) * 2));
	}

	&.open {
		transform: translateX(0);
	}

	.error {
		background: var(--error);
	}
}
