.host {
	position: fixed;
	bottom: var(--spacing);
	right: var(--spacing);
	z-index: 10;
	width: 300px;

	transition: transform 0.2s ease-in;

	&:not(.open) {
		transform: translateY(calc(100% + var(--spacing) * 2));
	}

	&.open {
		transform: translateY(0);
	}
}

.error {
	background: var(--error);
}
