.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.nav,
.footerContent {
	max-width: 1200px;
	margin-inline: auto;
	padding-inline: 2rem;

	@media (width < 1024px) {
		padding-inline: 1rem;
	}
}

.nav {
	@media (width < 1024px) {
		padding-inline: 0;
	}
}

.footerContent {
	justify-content: space-between;
	padding-block: 1rem;
	align-items: end;
}

.main {
	min-height: 0; /* explicit height required for children to know what 100% is */
	flex-grow: 1;
	position: relative;
}
