.link {
	color: color-mix(in srgb, var(--text-color) 90%, var(--background));
	&:visited {
		color: color-mix(in srgb, var(--text-color) 90%, var(--background));
	}

	text-decoration: none;

	.button {
		border: none;
		border-radius: 0;
		padding: 12px 16px;
		width: 100%;
	}

	.active {
		background: color-mix(in srgb, var(--text-color) 10%, var(--background));
	}
}
